html,body{
	width: 100%;
	height: 100%;
}
.wrap{
	width: 100%;
	-moz-transform-orign:top left;
	background: #5eb4ff;
}
/*------structure layout------*/
#wrap{
	width: 1280px;
	height: 720px;
}
#left,#right{
	float: left;
}
#left{
	width: 22.8125%;
	height: 100%;
	background: #0db1ff;
}
#right{
	width: 77.1875%;
	height: 100%;
}
/*------structure layout end------*/

/*------left css------*/
#CO2{
	width: 87.328767%;
	position: relative;
}
#CO2 img{
	width: 100%;
}
.topic{
	font-size: 14px;
}
.number{
	font-size: 40px;
}
#level{
	position: absolute;
	top: 10.76923%;
	left: 17.808219%;
	color: #fff;
}
#reduced{
	position: absolute;
	top: 52.820512%;
	left: 36.078431%;
	color: #fff;
}
#weather-massage{
	height: 8.5%;
	position: relative;
	top: 4.722222%;
	color: #fff;
}
#img{
	width: 19.520547%;
	position: absolute;
	left: 9.931506%;
}
#img img{
	width: 100%;
}
#weather{
	position: absolute;
	top: 13.207547%;
	left: 40.753424%;
}
#weather p{
	font-size: 24px;
}
#weather span{
	font-size: 14px;
}
#detail{
	width: 80.479452%;
	position: relative;
	top: 7%;
	margin: auto;
}
.time{
	background: #0da1e8;
	text-align: center;
	color: #fff;
	line-height: 40px;
	margin-bottom: 15%;
}
.info-include>div:first-child{
	margin-right: 10.958904%;
}
.info{
	float: left;
	width: 44%;
	min-width: 104px;
	margin-bottom: 13%;
}
.info p{
	color: #fff;
}
#special-topic{
	margin: 6% 0;
}
.info span{
	color: #d6fb02;
}
/*------left css end------*/

/*------right css------*/
#right{
	background: #5eb4ff;
	position: relative;
}

/*------middle content------*/
#exhibition{
	position: absolute;
	width: 60.020242%;
	height: 100%;
	background: url(../i/client/beach.png) no-repeat;
	background-size: 100%;
}
#date{
	width: 110px;
	color: #6d8c3b;
	position: absolute;
	top: 21px;
	left: 50px;
}
#month{
	position: relative;
	margin-bottom: 35px;
}
.date-number{
	font-size: 72px;
}
#month span:nth-child(2){
	font-size:30px;
	position: absolute;
	top: 5px;
	right: 0;
}
#month>div{
	width: 95px;
	height: 12px;
	line-height: 12px;
}
#month>div span{
	display: block;
	width: 95px;
	font-size: 13px;
}
.time-number{
	font-size: 22px;
	font-weight: bold;
}
#battery-remain{
	position: absolute;
	top: 27px;
	left: 215px;
	width: 210px;
	height: 78px;
}
#battery{
	width: 150px;
	height: 52px;
	background: url(../i/client/battery.png) no-repeat;
	background-size: 100%;
	position: relative;
}
#battery div{
	position: absolute;
	top: 8px;
	width: 10px;
	height: 36px;
	background:#fff;
}
#battery div:nth-child(1){
	border-radius: 4px 0 0 4px;
	left: 8px;
}
#battery div:nth-child(2){
	left: 20px;
}
#battery div:nth-child(3){
	left: 32px;
}
#battery div:nth-child(4){
	left: 44px;
}
#battery div:nth-child(5){
	left: 56px;
}
#battery div:nth-child(6){
	left: 68px;
}
#battery div:nth-child(7){
	left: 80px;
}
#battery div:nth-child(8){
	left: 92px;
}
#battery div:nth-child(9){
	left: 104px;
}
#battery div:nth-child(10){
	border-radius: 0 4px 4px 0;
	left: 116px;
}
.battery-number{
	font-size: 28px;
	color: #78caff;
	position: absolute;
	top: 14px;
	left: 163px;
}
.battery-number span{
	font-size: 14px;
}
#battery-remain p{
	width: 118px;
	height: 13px;
	font-size: 13px;
	color: #6d8c3b;
	margin-top: 10px;
}
#user{
	width: 440px;
	height: 470px;
	position: absolute;
	top:147px;
	left: 64px;
}
#Inverter-AC_DC{
	position: absolute;
	top: 178px;
	left: 198px;
	z-index: 200;
}
#Electric-Company1{
	position: absolute;
	top: 70px;
	left: 44px;
	z-index: 200;
}
#Solar-Panel{
	position: absolute;
	top: 1px;
	right: -4px;
	z-index: 200;
}
#Electric-Appliance{
	position: absolute;
	bottom: -3px;
	left: 2px;
	z-index: 200;
}
#Power-Storage{
	position: absolute;
	top: 250px;
	left: 332px;
	z-index: 200;
}
#pipe01{
	position: absolute;
    top: 170px;
    left: 121px;
	-webkit-transform:rotate(35deg);
}
#pipe02{
	position: absolute;
	top: 322px;
	left: 54px;
	-webkit-transform:rotate(-43deg);
}
#pipe03{
	position: absolute;
	top: 259px;
	left: 275px;
	-webkit-transform:rotate(35deg);
}
#pipe04{
	position: absolute;
	top: 137px;
	left: 246px;
	-webkit-transform:rotate(-52deg);
}
#bird{
	position: absolute;
	top: 38.333333%;
	left: 26.306913%;
}
/*------middle content end------*/


#data{
	position: absolute;
	top: 0;
	right: 0;
	width: 39.9%;
	height: 100%;
}
.data-show{
	width: 64%;
	height: 11.111111%;
	position: absolute;
	z-index: 999;
}
#data div:nth-child(1){
	top: 5.138888%;
	left: 7.848101%;
}
#data div:nth-child(2){
	top: 24.861111%;
	left: 16.455696%;
}
#data div:nth-child(3){
	top: 44.722222%;
	left: 18.734177%;
}
#data div:nth-child(4){
	top: 64.444444%;
	left: 7.088607%;
}
#data div:nth-child(5){
	top: 83.75%;
	left: -18.227848%;
	width: 100%;
}
#data div:nth-child(5) .data-pic{
	width: 11.392405%;
}
.data-number{
	font-size: 60px;
	margin-right: 2.303797%;
}
.data-topic{
	font-size: 24px;
	margin-bottom: 2.083333%;
}
.data-massage span:last-child{
	font-size: 18px;
}
.data-pic{
	width: 20%;
	float: left;
	margin-right: 6.582278%;
}
.data-pic img{
	width: 100%;
}
.data-massage{
	float: left;
}
.data-massage p{
	color: #fff;
}
.data-massage span{
	color: #c9e814;
}